body {
    display: flex;
    background: #d4ccb6;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 200px;
    height: 100vh;
    position: fixed;
    background: #C1BAA1;
    padding: 20px;
    color: white;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    cursor: pointer;
}

.main-content {
    flex: 1;
    padding: 20px 40px 20px 240px;
}
.dropdown-item{
    position: relative;
    z-index: 9999;
}
.dropdown-toggle::after {
    display: none; 
}
.navbar {
    display: flex;
    justify-content: space-between;
    position: sticky;
    align-items: center;
    background: #A59D84;
    padding: 10px;
    border-radius: 10px;
}

.search-bar {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
}

.user-profile img {
    border-radius: 50%;
}

.card {
    background: #f2ede0;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.table {
    background: white;
}
